
/* CSS Navigation */
.logo{
float: left;
margin-left: 50px;
}

ul.nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li{
  display: inline;
  float: right;
  margin-top: 30px;
  margin-right: 50px;
  padding: 15px;
}

body, html{
  height: 100%;
}

/* CSS heroimage */
.heroImg{
  background-image: url("Images/Hero\ Image2.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.herotext{
  position: absolute;
  top: 45%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: white;
}
.content{
  width: 500px;
  margin: 0 auto;
}
.profilepic{
  position: absolute;
  right: 332px;
  top: 165px;
  width: 400px;
  height: 800px;
}

/* CSS Footer */
footer{
  background-color: #E5E1F3;
  padding: 25px;
}
footer ul{
  display: inline-block;
  vertical-align: top;
  margin-left: 500px;
  padding: 1%;
}
/* My UX Skills section coded using CSS flex*/
.flexContainer{
  display: flex;
  margin: 0 5%;
  width: 33%;
  flex-direction: column;
}

/* Projects section coded using CSS flex*/
#workGrid{
  margin: 0px 5%;
  display: grid;
  min-height: 500px;
  height: 70vh;
  grid-template-rows: 50 50%;
  grid-template-columns: 50% 50%;
  grid-template-areas:
  "JTD staynplay"
  "FTC FTC";
}
#JTD{
  grid-area: JTD;
  background-image: url("Images/JTD.png")
}
#staynplay{
  grid-area: staynplay;
  background-image: url("Images/StaynPlay.png")
}
#FTC{
  grid-area: FTC;
  background-image: url("Images/FTC.png")
}
@media only screen and (max-width: 600){
  .flexContainer{
    display: flex;
    margin: 0 5%;
    width: 100%;
    flex-direction: column;
  }
  .workGrid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:"JTD" "StaynPlay" "FTC";
  }
}